body {
  max-width: 1400px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 2rem;
  margin: 10px auto;
  box-sizing: border-box;
}

header {
  margin: auto;
  display: flex;
  justify-content: center;
}

footer {
  padding: 1rem 1.5rem 3rem 1.5rem;
  color: white;
  background-color: #353535;
}
footer ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  font-weight: normal;
}
footer li {
  margin: 10px 0;
}
footer li span {
  padding-left: 10px;
}
footer li span i {
  width: 20px;
}
footer li a:link {
  text-decoration: none;
  color: white;
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2rem 3rem 3rem;
  background-color: #F2F2F2;
}
.search__btn {
  padding: 1rem 2rem;
  border: 0;
  color: white;
  font-size: 1rem;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-radius: 30px;
  cursor: pointer;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.4);
}
.search h2 {
  margin: 0.5rem 0;
}
.search p {
  margin: 0.5rem 0 1.5rem;
}

.operation {
  padding: 1.5rem;
}
.operation__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  list-style-position: inside;
  list-style: none;
}

.operation-btn {
  padding: 1.5rem 3rem 1.5rem 0.5rem;
  border: 0;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: -2px 2px 10px #c5c5c5;
  position: relative;
  min-width: 250px;
}
.operation-btn:hover {
  background: rgba(147, 86, 220, 0.2);
}
.operation-btn:hover .operation-btn__icon {
  color: #9356DC;
}
.operation-btn__heading {
  padding-left: 1rem;
  font-weight: bold;
}
.operation-btn__number {
  position: absolute;
  left: -10px;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
}
.operation-btn__icon {
  color: rgba(0, 0, 0, 0.5);
}

.restaurants {
  background-color: #F2F2F2;
  padding: 1.5rem;
}
.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  color: black;
  margin: 15px 0px;
  text-decoration: none;
  box-shadow: -2px 2px 8px #c5c5c5;
}
.restaurant-card__img {
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant-card__description {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
}
.restaurant-card__heading {
  flex: 1;
}
.restaurant-card__heart-icon {
  margin-right: 10px;
  width: 2em;
  height: 2em;
  position: relative;
  background-color: black;
}
.restaurant-card__heart-icon::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  background: linear-gradient(#9356DC, #FF79DA);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.restaurant-card__heart-icon:hover::before {
  opacity: 1;
}
.restaurant-card__heart-icon:hover .far {
  opacity: 0;
}
.restaurant-card__heart-layer {
  background-color: white !important;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.restaurant-card h2, .restaurant-card p {
  margin: 0.1rem;
}
@media (max-width: 599px) {
  .restaurant-card {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .restaurant-card {
    width: 48%;
  }
}
@media (min-width: 1025px) {
  .restaurant-card {
    width: 24%;
  }
}

.city-location {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #D9D9D9;
}
.city-location input {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;
  border: none;
  background-color: #D9D9D9;
  width: 10rem;
}

.restaurant {
  position: relative;
}
.restaurant__img {
  width: 100%;
  object-fit: cover;
}
.restaurant__heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F2F2F2;
  width: 100%;
  margin: 0;
  border-radius: 30px 30px 0 0;
  padding: 10px 10px 10px;
}

/*# sourceMappingURL=styles.css.map */
